In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read in file, add first row as header...
ib = pd.read_csv("International_Breweries.csv")
ib.head()

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017

In [28]:
ib['region'].value_counts()

KeyError: 'region'

In [3]:
ib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SALES_ID    1047 non-null   int64
 1   SALES_REP   1047 non-null   object
 2   EMAILS      1047 non-null   object
 3   BRANDS      1047 non-null   object
 4   PLANT_COST  1047 non-null   int64
 5   UNIT_PRICE  1047 non-null   int64
 6   QUANTITY    1047 non-null   int64
 7   COST        1047 non-null   int64
 8   PROFIT      1047 non-null   int64
 9   COUNTRIES   1047 non-null   object
 10  REGION      1047 non-null   object
 11  MONTHS      1047 non-null   object
 12  YEARS       1047 non-null   int64
dtypes: int64(7), object(6)
memory usage: 106.5+ KB

In [9]:
# regions in the 'Regions' column
ib.iloc[:,10].value_counts()

west             175
Southeast        175
southsouth       175
northcentral     174
northwest        174
northeast        174
Name: REGION , dtype: int64

In [10]:
# countries in the 'Country' Column
ib.iloc[:,9].value_counts()

Ghana      210
Nigeria    210
Togo       209
Senegal    209
Benin      209
Name: COUNTRIES, dtype: int64

In [11]:
Anglophone = ["Ghana", "Nigeria"]
Francophone = ["Togo", "Senegal", "Benin"]

In [13]:
pd.pivot_table(ib, index = ["COUNTRIES"], values=["PLANT_COST", "QUANTITY", "COST", "PROFIT"], margins=True, aggfunc=np.sum)

                COST  PLANT_COST     PROFIT  QUANTITY
COUNTRIES
Benin       48021700       32020   20961970    176324
Ghana       48168500       32100   21013050    178255
Nigeria     48918800       32100   21376210    179307
Senegal     49191900       32010   21485190    180928
Togo        47591750       31950   20751000    175908
All        241892650      160180  105587420    890722

# Total Profit = 105,587,420

In [23]:
quantities = pd.pivot_table(ib, index = ["COUNTRIES"], values=["PLANT_COST", "QUANTITY", "COST", "PROFIT"], aggfunc=np.sum)

In [25]:
quantities["PROFIT"].max()

21485190

Maximum profit: from Senegal

In [27]:
# maximum profit 2019
ib[ib["YEARS"]==2019].groupby("COUNTRIES")